// colors
$base-color1:#FFFFFF;
$base-color2:#E2DDD1;
$main-color1:#6E551B;
$main-color2:#3C2F10;
$accent-color:#23460F;
$text-color1:#333333;
$text-color2:#FFFFFF;
$overlay1:rgba(#3C2F10, 0.3);
$overlay2:rgba(#FFFFFF, 0.85);

//fonts
$Caslon:"Libre Caslon Text";
$Sans:"Noto Sans JP";
$Serif:"Noto Serif JP";